.meeting-card{


position:relative;

width:300px;

padding:30px;

border-radius:30px;


background:

rgba(255,255,255,.08);


backdrop-filter:blur(20px);


border:

1px solid rgba(255,255,255,.2);


color:white;


text-align:center;


transition:.4s;


box-shadow:

0 20px 50px rgba(0,0,0,.4);


}



.meeting-card:hover{


transform:

translateY(-15px)
rotateY(8deg);


box-shadow:

0 0 40px rgba(0,212,255,.5);


}





.meeting-logo{


width:75px;

height:75px;

object-fit:contain;


filter:

drop-shadow(0 0 20px gold);


}




.live-badge{


position:absolute;

top:15px;

right:15px;


background:red;

padding:7px 15px;

border-radius:20px;

font-size:12px;

font-weight:bold;


}



.meeting-card h2{


margin-top:20px;


color:#00d4ff;


}



.meeting-card p{


color:#cbd5e1;


height:50px;


}




.meeting-info{


display:flex;

justify-content:space-around;

margin:20px 0;


}




.join-btn{


display:block;

padding:14px;


border-radius:30px;


background:#00d4ff;


color:#00111f;


font-weight:bold;


text-decoration:none;


transition:.3s;


}



.join-btn:hover{


background:white;


}