/* ==========================
        BIRO GLOBAL APP CSS
========================== */


/* Remove Vite default styling */

#root{

    width:100%;

    min-height:100vh;

}



/* Main App Container */

.App{

    width:100%;

    min-height:100vh;

    background:white;

}



/* ==========================
        LOGO FIX
========================== */


.logo-image{

    width:85px;

    height:85px;

    object-fit:contain;

    animation:none !important;

    transform:none !important;

}



/* Remove old Vite animation */

@keyframes logo-spin{

    from{

        transform:none;

    }

    to{

        transform:none;

    }

}



/* ==========================
        GLOBAL BUTTON
========================== */


button{

    font-family:inherit;

}



/* ==========================
        SMOOTH SCROLL
========================== */


html{

    scroll-behavior:smooth;

}